node_modules
clipart_images/
chroma_db/
image_references/
media/
resources/
create_embeddings.py
embed_images.py
test_api_flow.py
*.pyc
.DS_Store
.env
venv/
find_similar_image.py
db.sqlite3
images/*
CLAUDE.md
generate_images_csv.py
globalsymbols_images_test.csv
globalsymbols_images.csv
