# Core Django & Web Framework
django
djangorestframework
django-cors-headers
python-dotenv
psycopg2-binary
pgvector
dj-database-url
PyYAML

# PDF Processing & Document Export  
# pymupdf4llm
python-docx

# Image Processing & AI
Pillow
boto3
gradio_client
# playground-python-commons@ https://playground-python-commons.s3.eu-north-1.amazonaws.com/packages/playground-python-commons/0.8.0/playground_python_commons-0.8.0-py3-none-any.whl
